html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("New Delhi.jpeg");
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}



main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
}

.container {
    margin-left: 25%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row, .coloumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

button {
    width: 80px;
    height: 75px;
}

.box {
    background-color: #943333;
    border: 2px solid #ccc;
    box-sizing: border-box;
    width: 250px;
    margin-bottom: 2%;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}
